#map { 
	width: 1400px;
	height: 635px; 
}


svg {
  position: relative;
}

path {
  fill: #000;
  fill-opacity: .5;
  stroke: #D4D4D4;
  stroke-width: 1.5px;
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}


.lineConnect {
    fill: none;
    stroke: black;
    opacity: 0;
}

@-webkit-keyframes pulse 
{       
      0% {-webkit-transform: scale(1.0); opacity: 1;}
      100% {-webkit-transform: scale(2); opacity: 0;}
}

.pulse
{
      /* Giving Animation Function */
      -webkit-animation: pulse 3s linear infinite;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.button {
    padding: 0;
    width: 500px;
    height: 500px;
    border: 0;
    background-color: white;
    outline: none;
}

.hidden{
  display: none;
}

div.tooltip {
        color: #222;
        /*background-color: darkseagreen;*/
        background-color:yellow;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
        width: 300px;
        /*left: 390px;*/
        /*stop: 10px;*/
        left:1150px; 
        top:35px;
    }

    div.tooltip1 {
        /*color: #222;*/
        text-align:center;
        color:black;
        background-color:#bae2ef;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
        width: 300px;
        height:37px;
        /*left: 390px;*/
        /*stop: 10px;*/
        left:1085px; 
        top:725px;
        font-weight:bold;
    }

